$gutter-padding: 12px;

.weather-viewer-component {

    .loading-msg {
        padding: 16px;
        margin-bottom: 1rem;
        background-color: #ffffcc;
        font-weight: bold;
        text-align: center;
    }

    .city-heading,
    .date-heading, {
        padding-left: $gutter-padding;
    }

    .day-weather-box {
        box-sizing: border-box;
        float: left;
        width: 20%;
        padding: 0.75rem $gutter-padding;

        @media (max-width: 920px) {
            width: 25%;
        }

        @media (max-width: 800px) {
            width: 33%;
        }

        @media (max-width: 600px) {
            width: 50%;
        }

        @media (max-width: 400px) {
            width: 100%;
        }

        .box-content {
            border: 1px solid #666;
            border-radius: 6px;
            padding: 0.75rem $gutter-padding;
            background-color: #fff;
        }
    }

}
