
.weather-viewer-component {

    background-color: #999;
    border: 1px solid #333;

    .loading-msg {
        padding: 16px;
        margin-bottom: 1rem;
        background-color: #ffffcc;
        font-weight: bold;
        text-align: center;
    }

    .error-msg {
        color: red;
    }

    .day-forecasts-section {
        display: block;
        border: 1px solid orange;
    }

    .forecast-table {

    }
}
